*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #111, #eee);
  min-height: 100vh; }

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.headingPrimary {
  color: #eee;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5%; }
  .headingPrimary--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    text-align: center;
    animation: moveInLeft 0.5s ease-out; }
  .headingPrimary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-align: center;
    animation: moveInRight 0.5s ease-out; }

.link:link, .link:visited {
  text-align: center;
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  display: block;
  position: relative;
  transition: all 0.5s; }

.link:not(:last-child) {
  margin-bottom: 2rem; }

.link::selection {
  color: #ddd;
  background-color: #000; }

.link:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .link:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.link:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.link--1 {
  background-color: #fff;
  color: #111; }
  .link--1::after {
    background-color: #fff; }

.link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.link--animated {
  animation: moveInUp 0.5s ease-out 0.2s;
  animation-fill-mode: backwards; }

.header {
  margin-top: 4%;
  height: 35vh;
  background-size: cover; }
  .header__div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__portrait {
    width: 20%;
    border-radius: 50%; }

.headingPrimary {
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1rem;
  text-align: center; }

main {
  position: relative; }

.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

@media (min-width: 320px) {
  body {
    height: 50vh;
    width: 100vw;
    padding-top: 0; }
  .header {
    margin-top: 25%;
    height: 30vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 1.7rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: inline; }
  .header__portrait {
    width: 50%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 40%; } }

@media (min-width: 425px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: inline; }
  .header__portrait {
    width: 60%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 40%; } }

@media (min-width: 768px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: block; }
  .header__portrait {
    width: 50%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 45%; } }

@media (min-width: 768px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: block; }
  .header__portrait {
    width: 50%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 45%; } }

@media (min-width: 1024px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: block; }
  .header__portrait {
    width: 25%; }
  .link:link, .link:visited {
    width: 125%;
    font-size: 1.5rem; }
  .links {
    left: 46%; } }

@media (min-width: 1440px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 20%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: block; }
  .header__portrait {
    width: 30%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 48%; } }

@media (min-width: 1880px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 22%; }
  .headingPrimary {
    font-size: 2rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: block; }
  .header__portrait {
    width: 20%; }
  .link:link, .link:visited {
    width: 125%; }
  .links {
    left: 48%; } }

@media (min-width: 2560px) {
  body {
    padding-top: 0; }
  .header {
    margin-top: 0%;
    height: 40vh; }
  .header__div {
    top: 22%; }
  .headingPrimary {
    margin-top: 2rem;
    font-size: 3rem; }
  .headingPrimary--1, .headingPrimary--2 {
    display: inline; }
  .header__portrait {
    width: 20%; }
  .link:link, .link:visited {
    width: 100%;
    font-size: 2rem; }
  .links {
    left: 50%; } }
